{{#if addNewHike}}
<h1>New Hike</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          {{input value=name id="name" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          {{input value=location id="location" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input value=image id="image" class="form-control"}}
        </div>

        <div class="form-group">
          <label for="description">Description of Hike</label>
          {{textarea value=description id="description" rows="5" cols="30" class="form-control"}}
        </div>

        <div class="form-group">
          <select {{action 'chooseDifficulty' on='change'}}>
            <option value="null">Select a Difficulty</option>
            <option value= "easy">Easy</option>
            <option value= "medium">Medium Difficulty</option>
            <option value= "difficult">Difficult</option>
            <option value= "expert">Experts Only</option>
          </select>
        </div>

        <button class="btn-lg btn-success"{{action 'addHike'}}>Save</button>
      </form>
    </div>
{{else}}
  <button class="btn-lg btn-primary"{{action 'hikeFormShow'}}>Add New Hike</button>
{{/if}}
