{{#each hikes as |hike|}}
  <div class="admin-display container row">
    <div class="col-sm-10">
      <h1>{{hike.name}}</h1>
      <h3><em>{{hike.location}}</em></h3>
      <h3>Difficulty: {{hike.difficulty}}</h3>
      <img src="{{hike.image}}" alt="{{hike.name}}" />
      <p class="hike-description">{{hike.description}}</p>
      <button class="btn btn-danger"{{action 'deleteHike' hike}}>Delete this Hike</button>
      <br>
      <hr>
    </div>
  </div>
{{/each}}
