
{{#each favoriteHikes.favorites as |favorite|}}
  <div class="container">
    {{#link-to 'hike' hike.id}}
      <div class="">
        <h3>{{favorite.name}}: {{favorite.location}}</h3>
        <img src="{{favorite.image}}" alt="{{favorite.name}}" />
      </div>
    {{/link-to}}
  <button class="btn btn-danger"{{action 'removeFromFavorites' favorite}}>Remove from Favorites</button>
</div>
{{/each}}
