<div class="hike-detail row">
  <div class="col-sm-10">
    <h1>{{hike.name}}</h1>
    <h3><em>{{hike.location}}</em> difficulty: {{hike.difficulty}}</h3>
    <img src="{{hike.image}}" alt="{{hike.name}}" />
    <p>{{hike.description}}</p>
  </div>
<br>
</div>
